@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  overflow: auto;
  padding: 40px;
}

.background {
  background-image: url(./images/sand.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

.date-time {
  display: inline;
  color: #fff;
}

.location {
  /* float: right; */
  display: inline;
  color: #000;
  margin-bottom: 40vh;
}

.time,
.city {
  font-size: 3rem;
}

.data {
  background-color: #fff;
  height: 21.5vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.description {
  text-align: center;
}

.img-source {
  width: 30%;
}

.celsius {
  margin-bottom: 20px;
}

.degree {
  display: inline;
}

span {
  display: inline;
}

.desc-images {
  border-radius: 50%;
  width: 50px;
}

/* Tablets and under */
@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .weather-temp {
    text-align: center;
  }

  .background {
    display: block;
    height: 80vh;
    text-align: center;
  }
}
